<div class="mb-3 row">
    <label for="filmTitle" class="col-sm-2 col-form-label">Title of film</label>
    <div class="col-sm-10">
        <input id="filmTitle"
               type="text"
               class="form-control"
               name="filmTitle"
               placeholder="Transcription of information recorded on the can label">
    </div>
</div>
<div class="mb-3 row">
    <label for="filmDate" class="col-sm-2 col-form-label">Date of Film</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text"
                   id="filmDate"
                   class="form-control tyko-date-selector"
                   name="filmDate"
                   placeholder="The date of film content (date of recording)"
            >
            <button type="button"
                    onclick="tyko.openDateSelect('filmDate', 'm/d/yyyy')"
                    class="btn btn-outline-secondary">
                <em class="bi bi-calendar-event"></em>
            </button>
        </div>
    </div>
</div>

<div class="mb-3 row">
    <label for="filmCanLabel" class="col-sm-2 col-form-label">Can label</label>
    <div class="col-sm-10">
        <input id="filmCanLabel"
               type="text"
               class="form-control"
               name="filmCanLabel"
               placeholder="Transcription of information recorded on the can label">
    </div>
</div>

<div class="mb-3 row">
    <label for="filmLeaderLabel" class="col-sm-2 col-form-label">
        Leader label
    </label>
    <div class="col-sm-10">
        <input id="filmLeaderLabel"
               type="text"
               class="form-control"
               name="filmLeaderLabel"
               placeholder="Transcription of information recorded on the leader label">
    </div>
</div>

<div class="mb-3 row">
    <label for="filmLength" class="col-sm-2 col-form-label">Length (ft)</label>
    <div class="col-sm-10">
        <input type="number"
               min="0"
               id="filmLength"
               class="form-control"
               name="filmLength"
               placeholder="length of the film">
    </div>
</div>

<div class="mb-3 row">
    <label for="filmDuration" class="col-sm-2 col-form-label">Duration (HH:MM:SS)</label>
    <div class="col-sm-10">
        <input type="text"
               id="filmDuration"
               class="form-control"
               name="filmDuration"
               placeholder="how long the content runs">
    </div>
</div>

<div class="mb-3 row">
    <label for="filmSpeed" class="col-sm-2 col-form-label">Speed (fps)</label>
    <div class="col-sm-10">
        <select class="form-select tyko tyko-enum-dynamic"
                data-enum-url="{{ url_for('film_film_speed') }}"
                name="filmSpeedId"
                id="filmSpeed">
            <option value=""></option>
        </select>
    </div>
</div>

<div class="row mb-3 g-3">

    <div class="form-group col-sm offset-sm-2">
        <label for="filmBase" class="col-form-label">Base</label>
        <select class="form-select tyko tyko-enum-dynamic"
                data-enum-url="{{ url_for('film_film_base') }}"
                name="filmBaseId"
                id="filmBase">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group col-sm">
        <label for="filmImageType" class="col-form-label">Image Type</label>
        <select class="form-select tyko tyko-enum-dynamic"
                data-enum-url="{{ url_for('film_image_type') }}"
                name="filmImageTypeId"
                id="filmImageType">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group col-sm">
        <label for="filmSoundtrack" class="col-form-label">Soundtrack</label>
        <select class="form-select tyko tyko-enum-dynamic"
                data-enum-url="{{ url_for('film_soundtrack') }}"
                name="filmSoundtrackId"
                id="filmSoundtrack">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group col-sm">
        <label for="filmColor" class="col-form-label">Color</label>
        <select class="form-select tyko tyko-enum-dynamic"
                data-enum-url="{{ url_for('film_color') }}"
                name="filmColorId"
                id="filmColor">
            <option value=""></option>
        </select>
    </div>

</div>

<div class="mb-3 row">
    <label for="filmEdgeCodeDate" class="col-sm-2 col-form-label">
        Edge code date
    </label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text"
                   id="filmEdgeCodeDate"
                   class="form-control tyko-date-selector"
                   name="filmEdgeCodeDate">
        </div>
    </div>
</div>

<div class="row mb-3 g-3">
    <label class="col-sm-2 col-form-label">Film Wind</label>
    <div class="form-group col-sm">
        <label for="filmWind" class="col-form-label">Wind</label>

        <select class="form-select tyko tyko-enum-dynamic"
                data-enum-url="{{ url_for('film_wind') }}"
                name="filmWindId"
                id="filmWind">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group col-sm">
        <label for="filmEmulsion" class="col-form-label">Emulsion</label>
            <select class="form-select tyko tyko-enum-dynamic"
                    data-enum-url="{{ url_for('film_emulsion') }}"
                    name="filmEmulsionId"
                    id="filmEmulsion">
                <option value=""></option>
            </select>
    </div>
</div>

<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">A-D Strip</label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-10">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="filmADStripTest" onclick="enableSubOption(this, ['filmADStripTestLevel', 'filmADStripTestDateBrowseButton', 'filmADStripTestDate'])">
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="form-group col-sm">
                <label for="filmADStripTestDate" class="col-form-label disabled">A-D Strip Test Date</label>
                <div class="input-group">
                    <input type="text" id="filmADStripTestDate" class="form-control tyko-date-selector" name="filmADStripTestDate" disabled>
                    <button type="button" id="filmADStripTestDateBrowseButton" onclick="tyko.openDateSelect('filmADStripTestDate', 'm/d/yyyy')" class="btn btn-outline-secondary" disabled> <em class="bi bi-calendar-event"></em></button>
                </div>
            </div>
            <div class="form-group col-sm">
                <label for="filmADStripTestLevel" class="col-form-label" disabled>A-D Strip Level</label>
                <select class="form-select"
                        name="filmADStripTestLevel"
                        id="filmADStripTestLevel" disabled>
                    <option value=""></option>
                    <option value="1">0</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                </select>
            </div>
            <script>
              function enableSubOption(checkboxElement, ids=[]){
                for (const idValue of ids) {
                  const element = document.getElementById(idValue)
                  element.disabled = !checkboxElement.checked;
                }
              }
            </script>
        </div>
    </div>
</div>

<div class="mb-3 row">
    <label for="filmShrinkage" class="col-sm-2 col-form-label">Shrinkage (%)</label>
    <div class="col-sm-10">
        <input type="number" min="0" max="100" id="filmShrinkage" class="form-control" name="filmShrinkage">
    </div>
</div>


<div class="mb-3 row">
    <label for="inspectionDate" class="col-sm-2 col-form-label">
        Inspection Date (M/D/YYYY)
    </label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text"
                   id="inspectionDate"
                   class="form-control tyko-date-selector"
                   name="inspectionDate"
                   placeholder="date of condition inspection">
            <button type="button" onclick="tyko.openDateSelect('inspectionDate', 'm/d/yyyy')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>

<div class="mb-3 row">
    <label for="transferDate" class="col-sm-2 col-form-label">Transfer Date (M/D/YYYY)</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text"
                   id="transferDate"
                   class="form-control tyko-date-selector"
                   name="transferDate"
                   placeholder="date of digitization">
            <button type="button" onclick="tyko.openDateSelect('transferDate', 'm/d/yyyy')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>