<div class="mb-3 row">
    <label for="opticalTitleOfItem" class="col-sm-2 col-form-label">Title of item</label>
    <div class="col-sm-10">
        <input type="text" id="opticalTitleOfItem" class="form-control" name="opticalTitleOfItem" placeholder="item name per finding aid or catalog record">
    </div>
</div>

<div class="mb-3 row">
    <label for="opticalLabel" class="col-sm-2 col-form-label">Label</label>
    <div class="col-sm-10">
        <input type="text" id="opticalLabel" class="form-control" name="opticalLabel" placeholder="transcription of information recorded on the label">
    </div>
</div>

<div class="mb-3 row">
    <label for="opticalDateOfItem" class="col-sm-2 col-form-label">Date of item (M/D/YYYY)</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="opticalDateOfItem" class="form-control tyko-date-selector" name="opticalDateOfItem" placeholder="how long the content runs">
            <button type="button" onclick="tyko.openDateSelect('opticalDateOfItem', 'mm-dd-yyyy')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>

<div class="mb-3 row">
    <label for="opticalType" class="col-sm-2 col-form-label">Optical type</label>
    <div class="col-sm-10">
        <select class="form-select tyko tyko-enum-dynamic" data-enum-url="{{ url_for('api.optical_optical_types') }}" name="opticalTypeId" id="opticalType">
            <option value=""></option>
        </select>
    </div>
</div>

<div class="mb-3 row">
    <label for="opticalDuration" class="col-sm-2 col-form-label">Duration (HH:MM:SS)</label>
    <div class="col-sm-10">
        <input type="text" id="opticalDuration" class="form-control" name="opticalDuration">
    </div>
</div>


<div class="mb-3 row">
    <label for="opticalInspectionDate" class="col-sm-2 col-form-label">Inspection Date (M/D/YYYY)</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="opticalInspectionDate" class="form-control tyko-date-selector" name="inspectionDate">
            <button type="button" onclick="tyko.openDateSelect('opticalInspectionDate', 'mm-dd-yyyy')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>

<div class="mb-3 row">
    <label for="opticalTransferDate" class="col-sm-2 col-form-label">Transfer Date (M/D/YYYY)</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="opticalTransferDate" class="form-control tyko-date-selector" name="transferDate">
            <button type="button" onclick="tyko.openDateSelect('opticalTransferDate', 'mm-dd-yyyy')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>

