<div class="mb-3 row">
    <label for="openReelReelTitle" class="col-sm-2 col-form-label">Title of reel</label>
    <div class="col-sm-10">
        <input type="text" id="openReelReelTitle" class="form-control" name="openReelReelTitle" placeholder="item name per finding aid or catalog record">
    </div>
</div>
<div class="mb-3 row">
    <label for="openReelReelSubType" class="col-sm-2 col-form-label">Reel type</label>
    <div class="col-sm-10">
        <select class="form-select tyko tyko-enum-dynamic" data-enum-url="{{ url_for('api.open_reel_sub_type') }}" name="openReelSubTypeId" id="openReelReelSubType">
            <option value=""></option>
        </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="openReelReelWidth" class="col-sm-2 col-form-label">Reel width (inches)</label>
    <div class="col-sm-10">
        <select class="form-select tyko tyko-enum-dynamic" data-enum-url="{{ url_for('api.open_reel_reel_width') }}" name="openReelReelWidthId" id="openReelReelWidth">
            <option value=""></option>
        </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="openReelDateOfReel" class="col-sm-2 col-form-label">Date of reel (M/D/YYYY)</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="openReelDateOfReel" class="form-control tyko-date-selector" name="openReelDateOfReel">
            <button type="button" onclick="tyko.openDateSelect('openReelDateOfReel', 'mm-dd-yyyy')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>
<div class="mb-3 row">
    <label for="openReelTrackCount" class="col-sm-2 col-form-label">Track count</label>
    <div class="col-sm-10">
        <input type="text" id="openReelTrackCount" class="form-control" name="openReelTrackCount" placeholder="how many tracks are included on the reel">
    </div>
</div>

<div class="mb-3 row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col">
        <label for="openReelReelSize" class="col-form-label">Reel size (inches)</label>
        <input type="text" id="openReelReelSize" class="form-control" name="openReelReelSize" placeholder="measurement of the size of the reel">
    </div>
    <div class="col">
        <label for="openReelReelDiameter" class="col-form-label">Reel diameter (inches)</label>
        <select class="form-select tyko tyko-enum-dynamic" data-enum-url="{{ url_for('api.open_reel_reel_diameter') }}" name="openReelReelDiameterId" id="openReelReelDiameter">
            <option value=""></option>
        </select>
    </div>
</div>

<div class="mb-3 row">
    <label for="openReelReelType" class="col-sm-2 col-form-label">Reel type</label>
    <div class="col-sm-10">
        <input type="text" id="openReelReelSize" class="form-control" name="openReelReelType" placeholder="the type of reel">
    </div>
</div>


<div class="mb-3 row">
    <label for="openReelReelThickness" class="col-sm-2 col-form-label">Reel thickness (mil)</label>
    <div class="col-sm-10">
        <select class="form-select tyko tyko-enum-dynamic" data-enum-url="{{ url_for('api.open_reel_reel_thickness') }}" name="openReelReelThicknessId" id="openReelReelThickness">
            <option value=""></option>
        </select>
    </div>
</div>


<div class="mb-3 row">
    <label for="openReelReelBrand" class="col-sm-2 col-form-label">Reel brand</label>
    <div class="col-sm-10">
        <input type="text" id="openReelReelBrand" class="form-control" name="openReelReelBrand" placeholder="the brand of the reel">
    </div>
</div>

<div class="mb-3 row">
    <label for="openReelBase" class="col-sm-2 col-form-label">Base</label>
    <div class="col-sm-10">
        <select class="form-select tyko tyko-enum-dynamic" data-enum-url="{{ url_for('api.open_reel_base') }}" name="openReelBaseId" id="openReelBase">
            <option value=""></option>
        </select>
    </div>
</div>

<div class="mb-3 row">
    <label for="openReelWind" class="col-sm-2 col-form-label">Wind</label>
    <div class="col-sm-10">
        <select class="form-select tyko tyko-enum-dynamic" data-enum-url="{{ url_for('api.open_reel_wind') }}" name="openReelWindId" id="openReelWind">
            <option value=""></option>
        </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="openReelReelSpeed" class="col-sm-2 col-form-label">Reel speed (ips)</label>
    <div class="col-sm-10">
        <select class="form-select tyko tyko-enum-dynamic" data-enum-url="{{ url_for('api.open_reel_reel_speed') }}" name="openReelReelSpeedId" id="openReelReelSpeed">
            <option value=""></option>
        </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="openReelTrackConfiguration" class="col-sm-2 col-form-label">Track configuration</label>
    <div class="col-sm-10">
        <select class="form-select tyko tyko-enum-dynamic" data-enum-url="{{ url_for('api.open_reel_track_configuration') }}" name="openReelTrackConfigurationId" id="openReelTrackConfiguration">
            <option value=""></option>
        </select>
    </div>
</div>

<div class="mb-3 row">
    <label for="openReelDuration" class="col-sm-2 col-form-label">Duration (HH:MM:SS)</label>
    <div class="col-sm-10">
        <input type="text" id="openReelDuration" class="form-control" name="openReelDuration" placeholder="how long the content runs">
    </div>
</div>

<div class="mb-3 row">
    <label for="openReelGeneration" class="col-sm-2 col-form-label">Generation</label>
    <div class="col-sm-10">
        <select class="form-select tyko tyko-enum-dynamic" data-enum-url="{{ url_for('api.open_reel_generation') }}" name="openReelGenerationId" id="openReelGeneration">
            <option value=""></option>
        </select>
    </div>
</div>

<div class="mb-3 row">
    <label for="openReelInspectionDate" class="col-sm-2 col-form-label">Inspection Date (M/D/YYYY)</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="openReelInspectionDate" class="form-control tyko-date-selector" name="inspectionDate">
            <button type="button" onclick="tyko.openDateSelect('openReelInspectionDate', 'mm-dd-yyyy')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>

<div class="mb-3 row">
    <label for="openReelTransferDate" class="col-sm-2 col-form-label">Transfer Date (M/D/YYYY)</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="openReelTransferDate" class="form-control tyko-date-selector" name="transferDate">
            <button type="button" onclick="tyko.openDateSelect('openReelTransferDate', 'mm-dd-yyyy')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>

