<div class="mb-3 row">
    <label for="opticalTitleOfItem" class="col-sm-2 col-form-label">Title of item</label>
    <div class="col-sm-10">
        <input type="text" id="opticalTitleOfItem" class="form-control" name="opticalTitleOfItem">
    </div>
</div>

<div class="mb-3 row">
    <label for="opticalLabel" class="col-sm-2 col-form-label">Label</label>
    <div class="col-sm-10">
        <input type="text" id="opticalLabel" class="form-control" name="opticalLabel">
    </div>
</div>

<div class="mb-3 row">
    <label for="opticalDateOfItem" class="col-sm-2 col-form-label">Date of item (M/D/YYYY)</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="opticalDateOfItem" class="form-control tyko-date-selector" name="opticalDateOfItem">
            <button type="button" onclick="tyko.openDateSelect('opticalDateOfItem')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>

<div class="mb-3 row">
    <label for="opticalType" class="col-sm-2 col-form-label">Optical type</label>
    <div class="col-sm-10">
        <select class="form-select" name="opticalType" id="opticalType">
            {#todo: populate dynamically#}
            <option></option>
            <option>DVD</option>
            <option>CD</option>
        </select>
    </div>
</div>

<div class="mb-3 row">
    <label for="opticalDuration" class="col-sm-2 col-form-label">Duration (HH:MM:SS)</label>
    <div class="col-sm-10">
        <input type="text" id="opticalDuration" class="form-control" name="opticalDuration">
    </div>
</div>


<div class="mb-3 row">
    <label for="opticalInspectionDate" class="col-sm-2 col-form-label">Inspection Date (M/D/YYYY)</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="opticalInspectionDate" class="form-control tyko-date-selector" name="opticalInspectionDate">
            <button type="button" onclick="tyko.openDateSelect('opticalInspectionDate')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>

<div class="mb-3 row">
    <label for="opticalTransferDate" class="col-sm-2 col-form-label">Transfer Date (M/D/YYYY)</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="opticalTransferDate" class="form-control tyko-date-selector" name="opticalTransferDate">
            <button type="button" onclick="tyko.openDateSelect('opticalTransferDate')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>

