{#<div class="form-group row cassette-row format-row" hidden>#}
{#        <label for="cassetteDateRecordedInput" class="col-sm-2 col-form-label">Date recorded</label>#}
{#        <div class="col-sm-10">#}
{#            <input type="text" id="cassetteDateRecordedInput" class="form-control" name="format_details.date_recorded">#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group row cassette-row format-row" hidden>#}
{#        <label for="cassetteAudioTypeInput" class="col-sm-2 col-form-label">Audio type</label>#}
{#        <div class="col-sm-10">#}
{#            <select class="form-control tyko-input-enum-api-options" id="cassetteAudioTypeInput" data-enumapi="{{ url_for('cassette_tape_format_types') }}" name="format_details.format_type_id" ></select>#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group row cassette-row format-row" hidden>#}
{#        <label for="cassetteTapeTypeInput" class="col-sm-2 col-form-label">Tape Type</label>#}
{#        <div class="col-sm-10">#}
{#            <select id="cassetteTapeTypeInput" class="form-control tyko-input-enum-api-options" data-enumapi="{{ url_for('cassette_tape_tape_types') }}" name="format_details.tape_type_id"></select>#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group row cassette-row format-row" hidden>#}
{#        <label for="cassetteTapeThicknessInput" class="col-sm-2 col-form-label">Tape Thickness</label>#}
{#        <div class="col-sm-10">#}
{#            <select id="cassetteTapeThicknessInput"#}
{#                    class="form-control tyko-input-enum-api-options"#}
{#                    data-enumapi="{{ url_for('cassette_tape_tape_thickness') }}"#}
{#                    name="format_details.tape_thickness_id">#}
{#            </select>#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group row cassette-row format-row" hidden>#}
{#        <label for="cassetteDateInspectedInput" class="col-sm-2 col-form-label">Date Inspected</label>#}
{#        <div class="col-sm-10">#}
{#            <input id="cassetteDateInspectedInput" class="form-control tyko-input-fulldate" name="format_details.inspection_date">#}
{#        </div>#}
{#    </div>#}
{#    <script type="application/javascript">#}
{#      const CASSETTE_TAPE_THICKNESS_URL = "{{ url_for('cassette_tape_tape_thickness') }}";#}
{#        const object_api_route = "{{ api_route }}";#}
{#    </script>#}

{#<div id="cassetteOnlyData">#}
<div class="mb-3 row">
    <label for="cassetteTitle" class="col-sm-2 col-form-label">Title of cassette</label>
    <div class="col-sm-10">
        <input type="text" id="cassetteTitle" class="form-control" name="cassetteTitle" required>
    </div>
</div>
<div class="mb-3 row">
    <label for="cassetteSideALabel" class="col-sm-2 col-form-label">Side A label</label>
    <div class="col-sm-10">
        <input type="text" id="cassetteSideALabel" class="form-control" name="cassetteSideALabel">
    </div>
</div>
<div class="mb-3 row">
    <label for="cassetteSideBLabel" class="col-sm-2 col-form-label">Side B label</label>
    <div class="col-sm-10">
        <input type="text" id="cassetteSideBLabel" class="form-control" name="cassetteSideBLabel">
    </div>
</div>
<div class="mb-3 row">
    <label for="dateOfCassette" class="col-sm-2 col-form-label">Date of cassette</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="dateOfCassette" class="form-control tyko-date-selector" name="dateOfCassette">
            <button type="button" onclick="tyko.openDateSelect('dateOfCassette')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>
<div class="mb-3 row">
    <label for="cassetteSideADuration" class="col-sm-2 col-form-label">Side A Duration</label>
    <div class="col-sm-10">
        <input type="text" id="cassetteSideADuration" class="form-control" name="cassetteSideADuration">
    </div>
</div>
<div class="mb-3 row">
    <label for="cassetteSideBDuration" class="col-sm-2 col-form-label">Side B Duration</label>
    <div class="col-sm-10">
        <input type="text" id="cassetteSideBDuration" class="form-control" name="cassetteSideBDuration">
    </div>
</div>
<div class="mb-3 row">
    <label for="generation" class="col-sm-2 col-form-label">Generation</label>
    <div class="col-sm-10">
{#            todo set this based on the generations data#}
        <select class="form-control" name="generation" id="generation" required>
            <option>sdfsadf</option>
        </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="dateOfTransfer" class="col-sm-2 col-form-label">Transfer Date</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="dateOfTransfer" class="form-control tyko-date-selector" name="dateOfTransfer">
            <button type="button" onclick="tyko.openDateSelect('dateOfTransfer')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
        </div>
    </div>
</div>