{% macro confirmRemoveAnnotation(modal_id, title="Remove Annotation") %}
    <div class="modal fade" id="{{ modal_id }}" data-backdrop="static"
         tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to permanently remove the
                        following annotation?</p>
                    <div>
                        <p id="entityContent"></p>
                    </div>
                </div>
                <div class="modal-footer">

                    <button id="annotationRemoveYesBtn" type="button"
                            class="btn btn-primary">Yes
                    </button>
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">No
                    </button>
                    <script type="module">
                        const dialog = $("#{{ modal_id }}");

                        document.getElementById("annotationRemoveYesBtn").addEventListener(
                            "click",
                            function (event) {
                              dialog.trigger("accept", [dialog.data['annotation']]);
                            });

                    </script>
                </div>
            </div>
        </div>
    <script type="module">
         let dialogBox = $("#{{ modal_id }}");
        dialogBox.on("confirm", (event, annotation) => {
          const messageContent = `${annotation["type"]["name"]}: ${annotation["content"]}`
          dialogBox.data['annotation'] =  annotation;
          dialogBox.find("#entityContent").text(messageContent)
          dialogBox.modal("show");
          dialogBox.find()
        });
    </script>
    </div>
{% endmacro %}
{% macro confirmRemoveFileNote(modal_id, title="Remove Note") %}
    <div class="modal fade" id="{{ modal_id }}" data-backdrop="static"
         tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to permanently remove the
                        following note?</p>
                    <div>
                        <p id="noteContent"></p>
                    </div>
                </div>
                <div class="modal-footer">

                    <button id="noteDeleteYesBtn" type="button"
                            class="btn btn-primary">Yes
                    </button>
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">No
                    </button>
                    <script type="module">
                        document.getElementById("noteDeleteYesBtn").addEventListener(
                            "click",
                            function () {
                                const modal = document.getElementById("{{ modal_id }}");
                                modal.dispatchEvent(new CustomEvent("accept",
                                    {
                                        detail: {
                                            note: $(modal).data['note'],
                                            file: $(modal).data['file'],
                                            request: $(modal).data['request'],
                                        }
                                    }
                                ));
                            }
                        );

                    </script>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro removeNoteModal(modalId="removeNoteModal", confirmButtonId="confirmRemoveNoteButton") %}
    <div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered"
                 role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remove Note</h5>
                </div>
                <div class="modal-body">
                    <p>This action is permanent! Are you sure you want to remove this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="{{ confirmButtonId }}" data-bs-dismiss="modal">Remove</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro newNoteModal(submit_url, modalId="newNote", formId="newNotesForm", noteTypeSelectorId="noteTypeSelect") %}
    <div class="modal fade" id="newNote" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <iframe name="hiddenFrame" class="hide" title="hidden frame" hidden></iframe>
                <form id="{{ formId }}" action="{{ submit_url }}" method="post" target="hiddenFrame">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="mb-3 row">
                                <label for="{{ noteTypeSelectorId }}" class="col-sm-2 col-form-label" >Type:</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="note_type_id"
                                            id="{{ noteTypeSelectorId }}"></select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="message-text" class="col-sm-2 col-form-label">Note:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="text"
                                              id="message-text" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cancel</button>
                        <button type="submit"
                                class="btn btn-primary tyko-accept"
                                id="saveNoteButton"
                                data-bs-dismiss="modal">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro newEntityModal(modalId, submitUrl, title="", formId="newEdityForm", titleId="newItemTitle") %}
<div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="{{ titleId }}" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ titleId }}">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <form id="{{ formId }}" action="{{ submitUrl }}" method="post" target="hiddenFrame">
                <iframe name="hiddenFrame" class="hide" hidden></iframe>
                <div class="modal-body">
                    {{ caller() }}
                </div>
                <div class="modal-footer">
                    <div id="status"></div>
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        const modalElement = document.currentScript.parentElement;
        const formElement = modalElement.querySelector('#{{formId}}');
        {#const statusBar = modalElement.querySelector('#responseStatus');#}
        {#const z = modalElement.querySelector(".modal-footer");#}
        const statusBar = modalElement.querySelector("#status");
        formElement.addEventListener('submit', (e)=> {
            e.preventDefault();
            fetch(e.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(e.target))
            }).then((resp) => {
                if(resp.ok){
                    location.reload();
                }
                else {
                    statusBar.innerHTML = `
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong>Failed to create a new entity!</strong> ${resp.statusText}
                          <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        `

                }
            });
        })
        modalElement.addEventListener('hidden.bs.modal', ()=> {
                document.getElementById('{{ formId }}').reset();
            });
    </script>
</div>

{% endmacro %}

{% macro editNoteModal(submit_url, modalId="noteEditor") %}
<div class="modal fade tyko-editor" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <iframe name="hiddenFrame" class="hide" hidden></iframe>
            <form id="notesForm" action="{{ submit_url }}" method="post" target="hiddenFrame">
                <div class="modal-body">
                    <div class="form-group">
                         <input type="hidden" id="noteId" name="noteId" value="">
                    </div>
                    <div class="form-group">
                        <div class="mb-3 row">
                            <label for="noteTypeSelect" class="col-sm-2 col-form-label" >Type:</label>
                            <div class="col-sm-10">
                                <select class="form-select tyko-notes" name="note_type_id"
                                        id="noteTypeSelect"></select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="message-text" class="col-sm-2 col-form-label">Note:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="text"
                                      id="message-text" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancel
                    </button>
                    <button type="submit" class="btn btn-primary tyko-accept"
                            id="saveNoteButton" data-bs-dismiss="modal">Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endmacro %}

{% macro editFileNote(modal_id) %}
    <div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">File Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="noteContentTextarea">Note</label>
                            <textarea class="form-control"
                                      id="noteContentTextarea"
                                      rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="noteEditSaveChangeBtn" type="button"
                            class="btn btn-primary">Save changes
                    </button>
                    <script type="module">
                        document.getElementById("noteEditSaveChangeBtn").addEventListener(
                            "click",
                            function () {
                                const modal = document.getElementById("{{ modal_id }}");
                                let newNote = Object.assign({}, $(modal).data['note']);
                                newNote["text"] = document.getElementById('noteContentTextarea').value
                                modal.dispatchEvent(
                                    new CustomEvent(
                                        "accept",
                                        {
                                            detail: {
                                                note: newNote,
                                                request: {
                                                    "type": $(modal).data['request']['type'],
                                                    "url": $(modal).data['request']['url'],
                                                },
                                                file: $(modal).data['file']

                                            }
                                        }
                                    )
                                )
                            }
                        )
                    </script>
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro editFileAnnotation(modal_id, annotation_types_url, saveButtonID="annotationEditSaveChangeBtn") %}
    <div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="annotationDialogTitle" class="modal-title">File
                        Annotations</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="mr-sm-2" for="annotationTypeSelect">Type</label>
                            <select id="annotationTypeSelect"
                                    class="form-select">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="valueContentTextarea">Data</label>
                            <textarea class="form-control"
                                      id="valueContentTextarea"
                                      rows="1"></textarea>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button id="{{ saveButtonID }}" type="button"
                            class="btn btn-primary">Add
                    </button>
                    <script type="module">
                        document.getElementById("{{saveButtonID}}").addEventListener(
                            "click",
                            function () {
                                const modal = document.getElementById("{{ modal_id }}");
                                let newAnnotation = Object.assign({}, $(modal).data['note']);
                                newAnnotation["content"] = document.getElementById('valueContentTextarea').value
                                const annotationSelection = document.getElementById('annotationTypeSelect')
                                newAnnotation["type_id"] = annotationSelection.options[annotationSelection.selectedIndex].value
                                modal.dispatchEvent(
                                    new CustomEvent(
                                        "accept",
                                        {
                                            detail: {
                                                annotation: newAnnotation,
                                                request: {
                                                    "type": $(modal).data['request']['type'],
                                                    "url": $(modal).data['request']['url'],
                                                },
                                                file: $(modal).data['file']

                                            }
                                        }
                                    )
                                )
                            }
                        )
                    </script>
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancel
                    </button>
                </div>
                <script type="module">
                    import {requests} from "{{ url_for('static', filename="js/request.js") }}"

                    let dialogBox = $("#{{ modal_id }}");
                    function sortAlpha(a, b){
                        const nameA = a['name'].toUpperCase();
                        const nameB = b['name'].toUpperCase();
                        if (nameA < nameB) {
                            return -1;
                        }
                        if (nameA > nameB) {
                            return 1;
                        }
                        return 0;
                    }

                    function set_options(url, selection, active) {
                        requests.get(url)
                            .then(function (resp) {
                                console.log("success")
                                selection.empty();
                                for (const type of JSON.parse(resp)['annotation_types'].sort(sortAlpha)) {
                                    if (type['active'] === false) {
                                        continue;
                                    }
                                    let newOption = document.createElement("option")
                                    newOption.setAttribute("value", type['type_id']);

                                    newOption.innerHTML = type['name']

                                    if (active === type['type_id']) {
                                        newOption.setAttribute("selected", "true");
                                    }
                                    selection.append(newOption);
                                }
                                console.log(selection);
                            }).catch(function (reason) {
                                console.log("Failed" + reason)
                            }
                        )
                    }

                    dialogBox.on("set_mode", (event, mode_type, requestUrl, annotation) => {
                            let textArea = dialogBox.find('#valueContentTextarea');
                            let selection = dialogBox.find('#annotationTypeSelect');
                            let saveButton = dialogBox.find('#{{ saveButtonID }}');
                            let apiRequest = {
                              "url" : requestUrl
                            }
                            switch (mode_type) {
                                case "create":
                                    set_options("{{ url_for('file_annotation_types') }}", selection);
                                    textArea.val("");
                                    saveButton.text("Add")
                                    apiRequest['type'] = "create";
                                    break;

                                case "edit":
                                    textArea.val(annotation['content']);
                                    set_options("{{ url_for('file_annotation_types') }}", selection, annotation['type']['type_id']);
                                    saveButton.text("Update")
                                    apiRequest['type'] = "edit";

                                    break;
                                default:
                                    throw "invalid mode";
                            }
                            dialogBox.data['request'] = apiRequest;
                        }
                    )
                </script>
            </div>
        </div>
    </div>
{% endmacro %}
