{% extends "panel_details.html" %}
{% from "_file_macros.html" import filesTable, newFileModal %}
{% from "_macros.html" import notes_table_row, notes_table, metadata_table, note_editor, notes_table2 %}
{% import  "_details_macros.html" as widgets%}
{% import "_item_macros.html" as item_widgets %}
{% from "dialog_boxes.html" import newEntityModal, editNoteModal, newNoteModal, removeNoteModal, setupNoteTableJS %}
{% block main_details %}
    {%  call widgets.card("Details", "my-1")  %}
        {% call metadata_table() %}
            <tr>
                {{widgets.metadata_text_edit_widget("Name", item['name'], 'name', api_path)}}
            </tr>
            <tr>
                {{widgets.metadata_number_edit_widget("Object Sequence", item['obj_sequence'], 'obj_sequence', api_path)}}
            </tr>
            <tr>
                <th id="formatType">Format Type</th>
                <td>
                    <div class="container">
                        {{ item['format']['name'] }}
                    </div>
                </td>
            </tr>
        {% endcall %}
    {% endcall %}
    {%  call widgets.card("Format Details", "my-1")  %}
        <div id="formatDetails" data-tyko-api-url="{{ url_for('api.item', item_id=item['item_id'] ) }}"></div>
    {% endcall %}
{% endblock %}

{% macro casstte_display(data) %}
    <table class="table table-sm" id="formatDetails">
        <caption hidden>Cassette Data</caption>
        <thead hidden>
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr id="cassetteAudioType"
                class="tyko-metadata-entity tyko-metadata-entity-editable tyko-metadata-entity-enum"
                data-name="Audio Type"
                data-displaydata="{{ data['cassette_type']['name'] }}"
                data-value="{{ data['cassette_type']['id'] }}"
                data-apiroute="{{ url_for("api.object_item", project_id=project_id, object_id=object_id, item_id=item['item_id']) }}"
                data-metadatakey="format_details.format_type_id"
            >
            </tr>
            <tr class="tyko-metadata-entity tyko-metadata-entity-editable tyko-metadata-entity-fulldate"
                data-name="Inspection Date"
                data-displaydata="{{ data['inspection_date'] }}"
                data-apiroute="{{ url_for("api.object_item", project_id=project_id, object_id=object_id, item_id=item['item_id']) }}"
                data-metadatakey="format_details.inspection_date"
            >
            </tr>
            <tr class="tyko-metadata-entity tyko-metadata-entity-editable"
                data-name="Date Recorded"
                data-displaydata="{{ data['date_recorded'] }}"
                data-apiroute="{{ url_for("api.object_item", project_id=project_id, object_id=object_id, item_id=item['item_id']) }}"
                data-metadatakey="format_details.date_recorded"
            >
            </tr>
            <tr id="rowTapeTape"
                class="tyko-metadata-entity tyko-metadata-entity-editable tyko-metadata-entity-enum"
                data-name="Tape Type"
                data-displaydata="{{ data['tape_type']['name'] if 'tape_type' in data}}"
                data-value="{{ data['tape_type']['id'] if 'id' in data}}"
                data-apiroute="{{ url_for("api.object_item", project_id=project_id, object_id=object_id, item_id=item['item_id']) }}"
                data-metadatakey="format_details.tape_type_id"
            >
            </tr>
            <tr id="cassetteTapeThickness"
                class="tyko-metadata-entity tyko-metadata-entity-editable tyko-metadata-entity-enum"
                data-name="Tape Thickness"
                {% if 'tape_thickness' in data %}
                data-displaydata="{{ data['tape_thickness']['value']}}{{ " "~data['tape_thickness']['unit'] if data['tape_thickness']['unit'] else ""}} "
                {% else %}
                data-displaydata=""
                {% endif %}
                data-value="{{ data['tape_thickness']['id'] if data['tape_thickness']['id'] else "" }}"
                data-apiroute="{{ url_for("api.object_item", project_id=project_id, object_id=object_id, item_id=item['item_id']) }}"
                data-metadatakey="format_details.tape_thickness_id"
            >
            </tr>
        </tbody>
    </table>
    <script type="module" src="{{ url_for('static', filename='js/metadataWidgets.mjs')}}"></script>


{% endmacro %}
{% block secondary_details %}
    {%  call widgets.card("Files", "my-1")  %}
        <div class="flex-column">

            <table id="filesTable"
                   class="tyko tyko-table-files"
                   aria-describedby="FilesHeader"
                   data-detail-formatter="detailFormatter"
                   data-cache="false"
                   data-sort-name="generation"
                   data-classes="table table-sm"
                   data-tyko-api-url="{{ api_path }}"
            >
                <thead>
                    <tr>
                        <th scope="col"
                            data-sortable="true"
                            data-width="100"
                            data-field="generation">Generation</th>
                        <th scope="col"
                            data-sortable="true"
                            data-width="1000"
                            data-formatter="fileNameFormatter"
                            data-field="name">File Name</th>
                        <th id="itemOptions"
                            scope="col"
                            data-width="10"
                            data-sortable="false"
                            data-formatter="fileOptionsFormatter"
                            data-field="routes"
                            data-align="right"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div>
            <div class="btn-group float-end" role="group">
                <button class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#newFileModal">Add</button>
            </div>
        </div>
    {{ widgets.confirm_remove_entity_modal2("removeFileModal") }}
    {% call newEntityModal('newFileModal', title="New File", submitUrl=url_for('site.item_new_file', item_id=item['item_id'], object_id=object_id, project_id=project_id), formId="newEndityForm") %}
        <div class="mb-3 row">
            <label for="objectNameInput" class="col-sm-2 col-form-label">File Name</label>
            <div class="col-sm-10">
                <input type="text" id="objectNameInput" class="form-control" name="file_name" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="generationSelection" class="col-sm-2 col-form-label">Generation</label>
            <div class="col-sm-10">
                <select class="form-select" name="generation" id="generationSelection" required>
                    <option>Access</option>
                    <option>Preservation</option>
                    <option>Mezzanine</option>
                </select>
            </div>
        </div>
    {% endcall %}
    <script>
        let filesTable = document.getElementById('filesTable');

        filesTable.addEventListener(
            'openEntityDetails', (e)=>{window.location = e.detail}
        )

        document.getElementById('removeFileModal')
            .addEventListener('accept', (e)=> {
                fetch(e.detail.apiUrl, {method: 'DELETE'}).then(()=>{
                    console.log("accepted")
                    location.reload();
                }).catch((e)=>{console.error(`Failed to delete: "${e.detail.entityName}"`)})
            console.log("Deleting " + e.detail.entityName )
        })

        function fileNameFormatter(value, row, index) {
            return `<a href="${row.routes.frontend}">${value}</a>`
        }
        function fileOptionsFormatter(value, row, index) {
            const onEditFunction =
                'filesTable.dispatchEvent(' +
                    `new CustomEvent('openEntityDetails',
                        {detail: '${value.frontend}'}
                ))`;
            return `
                <div class="btn-group-sm d-flex justify-content-end" role="group" aria-label="Edit">
                <button class="btn btn-sm btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        ></button>
                <div class="dropdown-menu dropdown-menu-end">
                  <button class="btn btn-secondary btn-sm dropdown-item" onclick="${onEditFunction}">Edit</button>
                  <button class='btn btn-secondary btn-danger btn-sm dropdown-item' data-entity-name='${row.name}' data-removeurl='${value.api}' data-bs-target='#removeFileModal' data-bs-toggle='modal'>Remove</button>
                </div>
              </div>
                `
        }
        </script>
{#        {{ filesTable(api_path, item_id=item['item_id'], object_id=object_id, project_id=project_id) }}#}
{#        {{ newFileModal("fileModal", url_for('api.item_files', item_id=item['item_id'], object_id=object_id, project_id=project_id)) }}#}
    {% endcall %}

    {% call widgets.card("Notes", "my-1")  %}
        <div class="flex-column" id="noteCard">
            {{
                notes_table2(
                    url_for(
                        "api.object_item",
                        project_id=project_id,
                        object_id=object_id,
                        item_id=item['item_id']
                        ),
                    table_id="notesTable"
                )
            }}
        </div>
        <div>
            <div class="btn-group float-end" role="group">
                <button
                    class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#newNote"
                    data-title="Create New Note"
                    data-dialogtype="new"
                    data-source="{{ note_api_route }}">
                    Add
                </button>
            </div>
        </div>
        {{ removeNoteModal(modalId="removeNoteModal") }}
        {{ newNoteModal(url_for('site.add_item_note', project_id=project_id, object_id=object_id, item_id=item['item_id']), modalId='newNote', formId='newNotesForm') }}
        {{ editNoteModal(url_for('site.update_item_note',project_id=project_id, object_id=object_id, item_id=item['item_id']), modalId="noteEditor") }}
        {{ setupNoteTableJS(notesTableId="notesTable", noteEditorId='noteEditor', newNoteId='newNote', newNotesFormId='newNotesForm', noteTypesUrl=url_for('api.note_types')) }}
    {% endcall %}

{% include "edit_note.html" %}
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}