<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
{% block head -%}


    <link rel="stylesheet" href="{{url_for('static', filename='css/sticky-footer-navbar.css')}}"/>

    <title>Tyko</title>
{%- endblock %}
</head>
<body>
<header>
{%-block navigation %}
    {% include "navbar.html" %}
{%-endblock %}
</header>


<main role="main" class="container-fluid">
    <div class="container-fluid p-2 rounded">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted ">&copy; Copyright 2019, 2020, 2021, 2022 by <a href="http://www.library.illinois.edu">University of Illinois at Urbana-Champaign</a></span>
    </div>
</footer>
{% block scripts %}
{% endblock %}
<script src="{{ url_for('static', filename='pack/index.bundle.js') }}"></script>
</body>
</html>