{% extends "panel_details.html" %}
{% from "_macros.html" import notes_table_row, note_editor, notes_table, notes_table2, metadata_table %}
{% from "_details_macros.html" import confirm_remove_entity_modal, add_field_row, child_entity_row, remove_modal_event_scripts, metadata_text_edit_widget, metadata_select_edit_widget, card %}
{% from "dialog_boxes.html" import newEntityModal, editNoteModal, newNoteModal, removeNoteModal %}
{% block main_details -%}
<div id="projectDetailsDetails" data-tyko-api-url={{ api_path }}></div>
{% endblock %}

{% block secondary_details %}
    <div id="projectObjects"
         data-tyko-api-url={{ api_path }}
         data-tyko-submit-url={{ url_for("api.project_add_object", project_id=project_id) }}>
    </div>
    {% call card("Notes", card_class="my-1") %}
        <div class="flex-column" id="noteCard">
            {{ notes_table2(api_path, table_id="notesTable") }}
        </div>
        <div>
            <div class="btn-group float-end" role="group">
                <button
                    class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#newNote"
                    data-title="Create New Note"
                    data-dialogtype="new"
                    data-source="{{ note_api_route }}">
                    Add
                </button>
            </div>
        </div>
        {{ removeNoteModal(modalId="removeNoteModal") }}
        {{ newNoteModal(url_for('site.add_project_note', project_id=project_id), modalId='newNote', formId='newNotesForm') }}
        {{ editNoteModal(url_for('site.update_project_note',project_id=project_id), modalId="noteEditor") }}

    {% endcall %}
    <script>
        const notesTable = document.getElementById('notesTable');
        notesTable.addEventListener('removeNoteRequested', (e)=>{
                const apiUrl = e.detail;
                const dialog = new tyko.editor.RemoveConfirm(
                    document.querySelector('#removeNoteModal')
                );

                dialog.setTitle('Are you Sure?')
                dialog.setConfirmButton(
                    document.querySelector('#confirmRemoveNoteButton')
                );

                dialog.onAccepted = ()=>{
                    fetch(apiUrl, {method: 'DELETE'}).then(()=>{
                        console.log("accepted")
                        location.reload();
                    })
                }
                dialog.show();
            });

        notesTable.addEventListener('openForEditing', (e)=>{
            const editorElement = document.querySelector('#noteEditor');
            tyko.editor.configureNoteEditor(
                e.detail,
                editorElement,
                editorElement.querySelector('#noteId'),
                editorElement.querySelector('#noteTypeSelect'),
                editorElement.querySelector('#message-text')
            )
            document.querySelector('#notesForm')
                .addEventListener('submit', (e)=>location.reload());
        });

        document.getElementById('newNotesForm')
            .addEventListener('submit', (e)=>{
                location.reload();
            });

        const noteTypesAPI = "{{ url_for('api.note_types') }}"
        const noteTypesData = fetch(noteTypesAPI)
            .then(response => response.json());

        document.addEventListener("DOMContentLoaded", function(event) {
            const notesTable = document.getElementById("notesTable")
            const editorElement = document.querySelector('#noteEditor');
            const newNoteElement = document.querySelector('#newNote');


            noteTypesData.then(typesData => {
                    for (const element of [editorElement, newNoteElement]){
                        tyko.notes.loadNoteTypes(
                            typesData['types'],
                            element.querySelector('#noteTypeSelect')
                        );
                    }
            });

            fetch(notesTable.dataset.tykoApiUrl)
                .then(response => response.json())
                .then(json => {
                    tyko.notes.loadNotesTable(
                        json['project']['notes'],
                        notesTable
                    );
                });

        })
    </script>
{%- endblock -%}
{% block scripts %}
    {{ super() }}
    {{ remove_modal_event_scripts("removeObjectModal") }}

{% endblock %}