{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Projects</h1>
     <table id="table"
            data-toggle="table"
            data-search="true"
            data-show-columns="true"
            class="table-striped"
     >
         <thead>
            <th data-sortable="true">Title</th>
            <th data-sortable="true">Status</th>

         </thead>
         <tbody>
            {% for project in projects %}
                <tr id="tr-id-1" class="tr-class-1" data-tile="bootstap table" data-object='{"key":"value"}'>
                    <td><a href="{{ url_for('page_projects')}}/{{project['project_id'] }}">{{project['title']}}</a></td>
                    <td>{{project['status']}}</td>
                </tr>
            {% endfor %}
            </tr>
         </tbody>
     </table>
    </div>
{% endblock %}
