{% extends "panel_details.html" %}
{% from "_macros.html" import notes_table_row, note_editor, notes_table, notes_table2, metadata_table %}
{% from "_details_macros.html" import confirm_remove_entity_modal, add_field_row, child_entity_row, remove_modal_event_scripts, metadata_text_edit_widget, metadata_select_edit_widget, card %}
{% from "dialog_boxes.html" import newEntityModal, editNoteModal, newNoteModal, removeNoteModal %}
{% block main_details -%}
<div id="projectDetailsDetails" data-tyko-api-url={{ api_path }}></div>
{#{% call card("Details", card_class="my-1 h-100") %}#}
{#    {%  call metadata_table() %}#}
{#            <tr>{{ metadata_text_edit_widget("Title", project['title'], "title", api_path) }}</tr>#}
{#            <tr>{{ metadata_text_edit_widget("Project Code", project['project_code'], "project_code", api_path) }}</tr>#}
{#            <tr>{{ metadata_select_edit_widget("Status",#}
{#                                               project['status'],#}
{#                                               options=project_status_options,#}
{#                                               field_key="status",#}
{#                                               update_api_path=api_path) }}</tr>#}
{#            <tr>{{ metadata_text_edit_widget("Current Location", project['current_location'], 'current_location', api_path) }}</tr>#}
{#        {% endcall %}#}
{#    {% endcall %}#}
{% endblock %}

{% block secondary_details %}

    {% call card("Objects", card_class="my-1") %}
        <table class="table">
            <caption hidden>Objects</caption>
            <thead>
                <tr>
                    <th scope="col" hidden>Object</th>
                    <th scope="col" hidden>Remove</th>
                </tr>
            </thead>
            <tbody>
                {%- for child_object in project['objects'] %}
                    {{ child_entity_row(
                        child_object['name'],
                        url_for('site.page_project_object_details', project_id=project_id, object_id=child_object.object_id),
                        "removeObjectModal",
                        url_for('api.project_object', project_id=project_id, object_id=child_object.object_id)
                        ) }}
                {%- endfor %}
            </tbody>
        </table>
        <div class="btn-group float-end" role="group">
            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#newObjectModal">Add</button>
        </div>
        {{ confirm_remove_entity_modal("removeObjectModal") }}
        {% call newEntityModal('newObjectModal', title="New Object", submitUrl=url_for("site.add_new_object", project_id=project_id), formId="newEdityForm") %}
            <div class="mb-3 row">
                <label for="objectNameInput" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" id="objectNameInput" class="form-control" name="name" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="objectCollectionSelection" class="col-sm-2 col-form-label">Collection</label>
                <div class="col-sm-10">
                    <select class="form-select" class="form-control" name="collection_id" id="objectCollectionSelection" required>
                        <option value="" disabled selected>Select a collection</option>
                        {%- for collection in collections%}
                            <option value="{{collection.collection_id}}">{{ collection.collection_name }}</option>
                        {%- endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="datepickerOriginalsRecInput" class="col-sm-2 col-form-label">Originals Received Date</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input id="datepickerOriginalsRecInput" class="form-control tyko-date-selector" name="originals_rec_date" pattern="^([0-9]{4})-([0-9]{2})-([0-9]{2})$"/>
                        <button type="button" onclick="tyko.openDateSelect('datepickerOriginalsRecInput')" class="btn btn-outline-secondary"> <em class="bi bi-calendar-event"></em></button>
                    </div>
                </div>
            </div>
        {% endcall %}
    {% endcall %}
    {% call card("Notes", card_class="my-1") %}
        <div class="flex-column" id="noteCard">
            {{ notes_table2(api_path, table_id="notesTable") }}
        </div>
        <div>
            <div class="btn-group float-end" role="group">
                <button
                    class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#newNote"
                    data-title="Create New Note"
                    data-dialogtype="new"
                    data-source="{{ note_api_route }}">
                    Add
                </button>
            </div>
        </div>
        {{ removeNoteModal(modalId="removeNoteModal") }}
        {{ newNoteModal(url_for('site.add_project_note', project_id=project_id), modalId='newNote', formId='newNotesForm') }}
        {{ editNoteModal(url_for('site.update_project_note',project_id=project_id), modalId="noteEditor") }}

    {% endcall %}
    <script>
        const notesTable = document.getElementById('notesTable');
        notesTable.addEventListener('removeNoteRequested', (e)=>{
                const apiUrl = e.detail;
                const dialog = new tyko.editor.RemoveConfirm(
                    document.querySelector('#removeNoteModal')
                );

                dialog.setTitle('Are you Sure?')
                dialog.setConfirmButton(
                    document.querySelector('#confirmRemoveNoteButton')
                );

                dialog.onAccepted = ()=>{
                    fetch(apiUrl, {method: 'DELETE'}).then(()=>{
                        console.log("accepted")
                        location.reload();
                    })
                }
                dialog.show();
            });

        notesTable.addEventListener('openForEditing', (e)=>{
            const editorElement = document.querySelector('#noteEditor');
            tyko.editor.configureNoteEditor(
                e.detail,
                editorElement,
                editorElement.querySelector('#noteId'),
                editorElement.querySelector('#noteTypeSelect'),
                editorElement.querySelector('#message-text')
            )
            document.querySelector('#notesForm')
                .addEventListener('submit', (e)=>location.reload());
        });

        document.getElementById('newNotesForm')
            .addEventListener('submit', (e)=>{
                location.reload();
            });

        const noteTypesAPI = "{{ url_for('api.note_types') }}"
        const noteTypesData = fetch(noteTypesAPI)
            .then(response => response.json());

        document.addEventListener("DOMContentLoaded", function(event) {
            const notesTable = document.getElementById("notesTable")
            const editorElement = document.querySelector('#noteEditor');
            const newNoteElement = document.querySelector('#newNote');


            noteTypesData.then(typesData => {
                    for (const element of [editorElement, newNoteElement]){
                        tyko.notes.loadNoteTypes(
                            typesData['types'],
                            element.querySelector('#noteTypeSelect')
                        );
                    }
            });

            fetch(notesTable.dataset.tykoApiUrl)
                .then(response => response.json())
                .then(json => {
                    tyko.notes.loadNotesTable(
                        json['project']['notes'],
                        notesTable
                    );
                });

        })
    </script>
{#    {{ new_object_modal("newObjectModal", collections, api_path + "/object") }}#}
{%- endblock -%}
{% block scripts %}
    {{ super() }}
    {{ remove_modal_event_scripts("removeObjectModal") }}

{% endblock %}